@use "../abstracts/variables" as *;

.bg-red {
  background-color: $RED;
}

.bg-dark-blue {
  background-color: $DARK_BLUE;
}

.bg-greyish-blue {
  background-color: $GREYISH_BLUE;
}

.bg-semi-dark-blue {
  background-color: $SEMI_DARK_BLUE;
}

.bg-pure-white {
  background-color: $PURE_WHITE;
}
