@use "../abstracts/variables" as *;

.primary-button {
  color: $PURE_WHITE;
  background-color: $RED;
  border-radius: 6px;
  padding: 1rem;

  transition: color 300ms, background-color 250ms;

  &:hover:not(:disabled) {
    color: $SEMI_DARK_BLUE;
    background-color: $PURE_WHITE;
  }

  &:disabled {
    opacity: 0.75;
  }
}

.secondary-button {
  color: $SEMI_DARK_BLUE;
  background-color: $PURE_WHITE;
  border-radius: 6px;
  padding: 1rem;
}
