<div
  class="z-30 bg-semi-dark-blue w-fit px-8 py-9 rounded-[20px] flex items-center flex-col fixed lg:top-8 lg:bottom-8 lg:left-8 mdsm:flex-row mdsm:w-[unset] md:right-6 md:left-6 md:top-6 sm:top-0 sm:left-0 sm:right-0 sm:rounded-none sm:p-4"
>
  <active-link></active-link>
  <div class="lg:mt-[75px] mdsm:mx-auto">
    <navbar-links></navbar-links>
  </div>
  <div class="mt-auto">
    <profile
      [appUser]="appUser"
      [isAppUserLoading]="isAppUserLoading"
    ></profile>
  </div>
</div>
