<div class="flex gap-10 flex-col mdsm:flex-row md:gap-8 sm:gap-6 items-center">
  <a
    routerLink="/library/home"
    routerLinkActive="active"
    queryParamsHandling="merge"
    class="icon home-icon w-[20px] h-[20px] cursor-pointer"
  ></a>
  <a
    routerLink="/library/movies"
    routerLinkActive="active"
    queryParamsHandling="merge"
    class="icon movie-icon w-[20px] h-[20px] cursor-pointer"
  ></a>
  <a
    routerLink="/library/tv-series"
    routerLinkActive="active"
    queryParamsHandling="merge"
    class="icon tv-series-icon w-[20px] h-[20px] cursor-pointer"
  ></a>
  <a
    routerLink="/library/bookmark"
    routerLinkActive="active"
    queryParamsHandling="merge"
    class="icon bookmark-icon w-[20px] h-[20px] cursor-pointer"
  ></a>
</div>
